# Data Analyst au sein de la FAO

lien du brief : https://simplonline.co/briefs/688fc302-e4d4-4324-8904-f22316c31713

lien du dossier git : https://github.com/data-IA-2023/Groupe-3

Vous venez d'intégrer la FAO (Food and Agriculture Organization of the United Nations). BRAVO !!!!!!
Vous allez mener votre première mission en analysant les données mondiales de production agricole, d'alimentation et de nutrition.

**Livrables**

* Un dépôt Github
* Un notebook **fonctionnel, documenté et commenté**
* Une présentation écrite et orale résumant vos travaux, votre analyse et vos recommandations

**Contexte du projet**

* Au sein du service Data Analytics and Prospective de la FAO, vous êtes en charge d'analyser les données produites par les Nations Unies.

* Ces analyses conduisent à des rapports de synthèse à destination des décideurs.

* Pour êtes également en charge de la partie Prospective, c'est à dire donner des tendances et des évolutions probables quant à la production agricole, à l'alimentation et la nutrition mondiales.

**Ressource(s)**

FAO - Wikipedia : https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l'alimentation_et_l'agriculture

FAOSTAT : https://www.fao.org/faostat/fr/#home

Les données FAO 2013 : https://github.com/remijul/dataset/tree/master/fao_2013

## Partie extraction des données

In [1]:
import pandas as pd
import numpy as np
#Chargement des données avec définition de l'index et changement des types des  dimensions
chemein_BD_vegetal = "fao_2013/FAOSTAT_2013_vegetal.csv"
FAOSTAT_2013_vegetal = pd.read_csv(chemein_BD_vegetal, sep=',',on_bad_lines='skip', index_col='Code Pays',dtype={'Code Élément': str,'Code Produit':str, 'Code Année':str})

FAOSTAT_2013_vegetal

,Code Domaine,Domaine,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
Code Pays,,,,,,,,,,,,,
2,FBS,Bilans Alimentaires,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.00,S,Données standardisées
2,FBS,Bilans Alimentaires,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.00,S,Données standardisées
2,FBS,Bilans Alimentaires,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.00,S,Données standardisées
2,FBS,Bilans Alimentaires,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.00,S,Données standardisées
2,FBS,Bilans Alimentaires,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,FBS,Bilans Alimentaires,Chine,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée
351,FBS,Bilans Alimentaires,Chine,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.01,Fc,Donnée calculée
351,FBS,Bilans Alimentaires,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,0.00,Fc,Donnée calculée
351,FBS,Bilans Alimentaires,Chine,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.01,Fc,Donnée calculée
351,FBS,Bilans Alimentaires,Chine,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée

In [2]:

#Chargement des données avec définition de l'index et changement des types des  dimensions
chemein_BD_culture = "fao_2020/FAOSTAT_2020_Cultures et produits animaux.csv"
FAOSTAT_2020_Cultures_produits_animaux = pd.read_csv(chemein_BD_culture, sep=',',on_bad_lines='skip', index_col='Code zone (M49)',dtype={'Code Élément': str,'Code Produit (CPC)':str, 'Code année':str})

FAOSTAT_2020_Cultures_produits_animaux

,Code Domaine,Domaine,Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
Code zone (M49),,,,,,,,,,,,,
4,QCL,Cultures et produits animaux,Afghanistan,5510,Production,21159.02,Abats comestibles de chameaux et autres caméli...,2020,2020,tonnes,549.0,I,Valeur imputée
4,QCL,Cultures et produits animaux,Afghanistan,5320,Animaux Producteurs/Abattus,21159.02,Abats comestibles de chameaux et autres caméli...,2020,2020,Tête,20323.0,I,Valeur imputée
4,QCL,Cultures et produits animaux,Afghanistan,5510,Production,21151,"Abats, comestibles, bovins, frais, réfrigérés ...",2020,2020,tonnes,20356.0,I,Valeur imputée
4,QCL,Cultures et produits animaux,Afghanistan,5320,Animaux Producteurs/Abattus,21151,"Abats, comestibles, bovins, frais, réfrigérés ...",2020,2020,Tête,644498.0,E,Valeur estimée
4,QCL,Cultures et produits animaux,Afghanistan,5510,Production,21156,"Abats, comestibles, caprins, frais, réfrigérés...",2020,2020,tonnes,9024.0,I,Valeur imputée
...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,QCL,Cultures et produits animaux,Zimbabwe,5510,Production,21121,"Viande, poulet, fraîche ou réfrigérée",2020,2020,tonnes,67211.0,E,Valeur estimée
716,QCL,Cultures et produits animaux,Zimbabwe,5321,Animaux Producteurs/Abattus,21121,"Viande, poulet, fraîche ou réfrigérée",2020,2020,1000 têtes,58444.0,E,Valeur estimée
716,QCL,Cultures et produits animaux,Zimbabwe,5417,Rendement/Poids Carcasse,21113.01,"Viande, suidés, fraîche ou réfrigérée",2020,2020,hg/An,550.0,E,Valeur estimée
716,QCL,Cultures et produits animaux,Zimbabwe,5510,Production,21113.01,"Viande, suidés, fraîche ou réfrigérée",2020,2020,tonnes,10107.0,I,Valeur imputée
716,QCL,Cultures et produits animaux,Zimbabwe,5320,Animaux Producteurs/Abattus,21113.01,"Viande, suidés, fraîche ou réfrigérée",2020,2020,Tête,183923.0,A,Chiffre officiel

## Partie netoyage des données

In [24]:
#Vérification des types
FAOSTAT_2013_vegetal.dtypes

Code Domaine               object
Domaine                    object
Pays                       object
Code Élément               object
Élément                    object
Code Produit               object
Produit                    object
Code Année                 object
Année                       int64
Unité                      object
Valeur                    float64
Symbole                    object
Description du Symbole     object
dtype: object

In [22]:
#Vérification des types
FAOSTAT_2020_Cultures_produits_animaux.dtypes

Code Domaine               object
Domaine                    object
Zone                       object
Code Élément               object
Élément                    object
Code Produit (CPC)         object
Produit                    object
Code année                 object
Année                       int64
Unité                      object
Valeur                    float64
Symbole                    object
Description du Symbole     object
dtype: object

In [3]:
#FAO2013V Contient que les dimensions intersectées
FAO2013V=FAOSTAT_2013_vegetal
FAO2013V=FAO2013V[['Code Élément', 'Code Produit', 'Unité', 'Valeur','Symbole']]
FAO2013V

          Code Élément Code Produit               Unité   Valeur Symbole
Code Pays
2                 5511         2511  Milliers de tonnes  5169.00       S
2                 5611         2511  Milliers de tonnes  1173.00       S
2                 5072         2511  Milliers de tonnes  -350.00       S
2                 5301         2511  Milliers de tonnes  5992.00       S
2                 5527         2511  Milliers de tonnes   322.00       S
...                ...          ...                 ...      ...     ...
351                674         2680     g/personne/jour     0.04      Fc
351                684         2680     g/personne/jour     0.01      Fc
351                664         2899  Kcal/personne/jour     0.00      Fc
351                674         2899     g/personne/jour     0.01      Fc
351                684         2899     g/personne/jour     0.00      Fc

[104871 rows x 5 columns]

In [4]:
#FAO2020CPA Contient que les dimensions intersectées
FAO2020CPA=FAOSTAT_2020_Cultures_produits_animaux
FAO2020CPA=FAO2020CPA[['Code Domaine', 'Code Élément', 'Code Produit (CPC)', 'Unité','Valeur', 'Symbole']]
FAO2020CPA

,Code Domaine,Code Élément,Code Produit (CPC),Unité,Valeur,Symbole
Code zone (M49),,,,,,
4,QCL,5510,21159.02,tonnes,549.0,I
4,QCL,5320,21159.02,Tête,20323.0,I
4,QCL,5510,21151,tonnes,20356.0,I
4,QCL,5320,21151,Tête,644498.0,E
4,QCL,5510,21156,tonnes,9024.0,I
...,...,...,...,...,...,...
716,QCL,5510,21121,tonnes,67211.0,E
716,QCL,5321,21121,1000 têtes,58444.0,E
716,QCL,5417,21113.01,hg/An,550.0,E
716,QCL,5510,21113.01,tonnes,10107.0,I
716,QCL,5320,21113.01,Tête,183923.0,A

In [120]:
#Supprime les lignes ou il y n'a pas de valeurs
FAO2013V=FAO2013V.dropna()
FAO2020CPA=FAO2020CPA.dropna()

#Supprime les lignes 'variation de stock'
FAO2013V = FAO2013V.drop(FAO2013V[FAO2013V['Code Élément'] == '5072'].index)
FAO2013V

Empty DataFrame
Columns: [Code Élément, Code Produit, Unité, Valeur, Symbole]
Index: []

In [72]:
#Les tables de correspondance
FAO2013V_Domaine=FAOSTAT_2013_vegetal[['Code Domaine', 'Domaine']].drop_duplicates()
FAO2013V_Pays=FAOSTAT_2013_vegetal[['Pays']].drop_duplicates()
FAO2013V_Élément=FAOSTAT_2013_vegetal[['Code Élément', 'Élément']].drop_duplicates()
FAO2013V_Produit=FAOSTAT_2013_vegetal[['Code Produit', 'Produit']].drop_duplicates()
FAO2013V_Symbole=FAOSTAT_2013_vegetal[['Symbole', 'Description du Symbole']].drop_duplicates()
FAO2013V_Symbole

          Symbole                             Description du Symbole
Code Pays
2               S                              Données standardisées
2              Fc                                    Donnée calculée
351             A  Agrégat, peut inclure des données officielles,...

In [81]:
#Les tables de correspondance
FAO2020CPA_Domaine=FAOSTAT_2020_Cultures_produits_animaux[['Code Domaine','Domaine']].drop_duplicates()
FAO2020CPA_Zone=FAOSTAT_2020_Cultures_produits_animaux[['Zone']].drop_duplicates()
FAO2020CPA_Élément=FAOSTAT_2020_Cultures_produits_animaux[['Code Élément','Élément']].drop_duplicates()
FAO2020CPA_Produit=FAOSTAT_2020_Cultures_produits_animaux[['Code Produit (CPC)','Produit']].drop_duplicates()
FAO2020CPA_Symbole=FAOSTAT_2020_Cultures_produits_animaux[['Symbole','Description du Symbole']].drop_duplicates()
FAO2020CPA_Symbole

                Symbole                             Description du Symbole
Code zone (M49)
4                     I                                     Valeur imputée
4                     E                                     Valeur estimée
4                     A                                   Chiffre officiel
710                   T                               Chiffre non officiel
710                   M  Valeur manquante (les données ne peuvent exist...

## Partie traitement des données

Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données :

    • Analyses univariées
    • Analyses bi-variées
    • Analyses multi-variées

Réaliser également des analyses exploratoires sur les différentes variables

### 1 - Analyses descriptives et exploratoire des données

Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données :
    • Analyses univariées
    • Analyses bi-variées
    • Analyses multi-variées
Réaliser également des analyses exploratoires sur les différentes variables

In [109]:
#Analyses univariées
FAO2013V[FAO2013V['Unité']=='Milliers de tonnes'].describe()

              Valeur
count   67783.000000
mean      489.595695
std      7949.286495
min    -39863.000000
25%         0.000000
50%         3.000000
75%        37.000000
max    739267.000000

In [100]:
#Analyses univariées
FAO2020CPA.describe()

             Valeur
count  4.067900e+04
mean   9.725984e+05
std    1.283739e+07
min    0.000000e+00
25%    1.314500e+03
50%    1.625000e+04
75%    1.149180e+05
max    7.571169e+08

### 2 - Etude guidée n°1

Il s’agit ici de répondre à toutes les questions ci-dessous.

#### Question 1 : Nombre d'humains sur la planète
Calculez le nombre total d’humains sur la planète.
Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.
Donnez le résultat de votre calcul pour l'année 2013.

#### Question 2 : Redondances
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici).
C'est une équation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant intervenir chacune des 11 quantités données ci dessus.
Illustrez cette équation avec l'exemple du blé en France.

#### Question 3 : Disponibilité alimentaire (calories, protéines)
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines. Vous ferez cela à partir de ces informations :
- Population de chaque pays
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour, -
- Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.
Pour cette étape vous avez besoin de constituer une seule et même table à partir des tables animaux et végétaux.

#### Question 4 : Ratio énergie/poids
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

#### Question 5 : Aliments les plus caloriques et protéiques
En considérant les aliments végétaux et animaux, citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids. Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

#### Question 6 : Dispo. intérieure mondiale des végétaux
Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

#### Question 7 : Potentiel alimentaire des végétaux
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 8 : Potentiel alimentaire des végétaux (destinés aux animaux pertes)
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 9 : Potentiel alimentaire de la dispo. Mondiale
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 10 : Proportion de la sous-nutrition mondiale
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

#### Question 11 : Céréales
Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO. En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

#### Question 12 : Sous-nutrition
Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.
Repérez les 15 produits les plus exportés par ce groupe de pays.
Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné).
Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

    • le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
    • le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)
    
Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

#### Question 13 : USA
Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

#### Question 14 : Thaïlande
En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

### 3 - Etude guidée n°2

Il s’agit ici d’intégrer toutes les données dans une base de données relationnelle puis de répondre à toutes les questions ci-dessous.
La base de données contiendra 4 tables : population, dispo_alim, equilibre_prod, sous_nutrition.

#### Question 15 : Table population
Définir une clé primaire pertinente pour la table population. Intégrer la table dans la base de données relationnelle.

#### Question 16 : Table dispo_alim
La table appelée dispo_alim contient pour chaque pays, pour chaque produit, sur l'année 2013, les informations suivantes:
- la nature du produit (deux valeurs possibles“animal” ou “végétal”)
- disponibilité alimentaire en tonnes
- disponibilité alimentaire en Kcal/personne/jour
- disponibilité alimentaire de protéines en g/personne/jour
- disponibilité alimentaire de matières grasses en g/personne/jour
La table contient ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .
Définir une clé primaire pertinente pour la table dispo_alim. Intégrer la table dans la base de données relationnelle.

#### Question 17 : Table equilibre_prod
La table appelée equilibre_prod contient pour chaque pays, pour chaque produit, et pour l'année disponible 2013, les quantités suivantes :
- disponibilité intérieure
- aliments pour animaux
- semences
- pertes
- transformés
- nourriture
- autres utilisations
Elle contient ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, transfo, nourriture, autres_utilisations.
Définir une clé primaire pertinente pour la table equilibre_prod. Intégrer la table dans la base de données relationnelle.

#### Question 18 : Table sous_nutrition
La table appelée sous_nutrition, contient le nombre de personnes en sous-alimentation pour chaque pays et pour chaque année. Elle contient 4 colonnes : pays, code_pays, année, nb_personnes.
Définir une clé primaire pertinente pour la table sous_nutrition. Intégrer la table dans la base de données relationnelle.

#### Question 19 : Requêtes SQL
Formuler les requêtes SQL pour répondre aux questions suivantes :
    • Quels sont les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant ?
    • Quels sont les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant ?
    • Quelle est la quantité totale (en kg) de produits perdus par pays?
    • Quels sont les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte ?
    • Quels sont les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé ?

#### Question 20 : Autres utilisations des produits
Pour quelques-uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !).

### 4 - Analyses complémentaire

Fort de votre expérience de Data Analyst, il s’agit maintenant de réaliser vos propres analyses et exploration.